<TelerikDatePicker Value="@StartDate" ValueChanged="@( (DateTime d) => StartChanged(d) )"
                   Min="@( MinDate )"
                   Max="@GetHigherDate()"
                   Width="50%" Format="dd MMM yyyy" />
<span style="display: inline-block; width: 5px;"></span>
<TelerikDatePicker Value="@EndDate" ValueChanged="@( (DateTime d) => EndChanged(d) )"
                   Min="@GetLowerDate()"
                   Max="@( MaxDate )"
                   Width="50%" Format="dd MMM yyyy" />
@if (ShowErrorMessage)
{
    <div class="alert alert-danger">@WrongRangeMessage</div>
}